<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
		<center>
	<div class="col-sm-9">
		<h3 style="text-align: left; color: Black"><font face="Consolas">Welcome to Acs Technologies. A place to work and find new people...
		 Join US... 
		<br>apply for various leaves, join Forum discussions, keep an eye on the upcoming Events happening..
		<br>All this, just <strong><a data-ng-show="!currentUser.username" style="color: blue" href="#/register">HERE!!!</a><a style="text-decoration: none;" data-ng-show="currentUser.username">HERE!!!</a></strong></font></h3>
	</div>
	</center>
</div>

</body>
</html>